<h2>Login</h2>

<table>
    <tr>
        <td>
            <label>UserName:</label>
        </td>
        <td>
            <div class="form-group">
                <input type="text" [(ngModel)]="login.username" class="form-control" placeholder="User Name" required>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label>Password:</label>
        </td>
        <td>
            <div class="form-group">
                <input type="text" [(ngModel)]="login.password" class="form-control" placeholder="Password" required>
            </div>
        </td>
    </tr>
    <tr>

        <td>
            <label>Role</label>
        </td>
        <td>
            <div class="form-group">
                <select class="custom-select" [(ngModel)]="login.userrole">
                    <option value="" disabled>Choose your city</option>
                    <option>Admin</option>
                    <option>User</option>
                    <option>Incharge</option>
                </select>
            </div>
        </td>

    </tr>
    <tr>
        <div class="form-group">
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" (click)="loginuser()">Login</button>
            </div>
            <td>
                <img *ngIf="loading" class="pl-3"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a routerLink="/register" class="btn btn-link">Register</a>
            </td>
        </div>
    </tr>
</table>
